.header {
    background-color: rgb(43, 39, 39);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    padding-right: 8rem;
}

.logo:hover {
    cursor: pointer;
}

.links {
    width: 30%;
}

.links > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

@media screen and (max-width:743px) {
    .header {
        padding: 1rem;
    }
    .links > ul {
        flex-direction: column;
        row-gap: 10px;
    }
}

@media screen and (min-width: 743px) and (max-width:1440px) {
    .header {
        padding: 1rem 3rem;
    }
    .links > ul {
        column-gap: 20px;
    }
}