.eventCard {
    width: 28%;
    height: auto;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.eventImg {
    text-align: center;
}

.eventImg > img {
    border-radius: 4px;
}

.eventTitle {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.eventTitle:hover {
    text-decoration: underline;
}

.eventDetails {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventDetailBtn {
    padding: 0 1rem;
}

.eventDetailBtn > button{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 6px;
    background-color: teal;
    color: white;
    font-weight: bold;
    letter-spacing: 1.3px;
    border: 1px solid teal;
}

.eventDetailBtn > button:hover {
    cursor: pointer;
    background-color: white;
    color: teal;
    border: 1px solid teal;
}
