.slider {
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.sliderContainer {
    background-color: red;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}