.slider {
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.sliderContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 100%;
    text-align: center;
}

.changeBtn {
    color: black;
    font-size: 3rem;
}

.changeBtn:hover {
    cursor: pointer;
}

.changeBtn:active {
    color: white;
}

.disabled {
    color: rgb(195, 195, 195);
}