.slider {
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.sliderContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 100%;
    text-align: center;
}

.changeBtn {
    /* background-color:rgb(125, 111, 111); */
    color: black;
    /* border: 2px solid black;
    padding: 1.5rem;
    width: 5%;
    height: auto;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center; */
    font-size: 3rem;
}

.changeBtn:hover {
    cursor: pointer;
}

.changeBtn:active {
    color: white;
}