.mainContainer {
    background-color: rgba(244,245,246,0.5);
}

.subContainer {
    padding: 0 5rem;
}

.subsubContainer {
    display: flex;
    justify-content: center;
}

.filters {
    width: 25%;
    margin-top: 1rem;
}

.eventCard {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-top: 1rem;
}

.titles {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.titles > h3 {
    font-size: 28px;
}

.firstTitle {
    width: 25%;
}

.secondTitle {
    width: 75%;
    padding-left: 4rem;
}